<nav>
    <div class='site-title'>
        <a href='/'><h1>Barca Blog</h1></a>
        <p>A Site for Barcelona Fans</p>                
    </div>
    <ul>
        <li> <a href="/"> Blogs </a> </li>
        <li> <a href="/about"> About Blogs </a> </li>
        <li> <a href="/blogs/create"> New Blog </a> </li>
        <li> <a href="/jokes"> Dad Jokes</a> </li>
    </ul>
</nav>